@font-face {
  font-family: 'SourceSansPro';
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/npm/source-sans-pro@2.45.0/TTF/SourceSansPro-Regular.ttf');
}
@font-face {
    font-family: 'BebasNeue';
    font-weight: 300;
    font-style: normal;
    src: url('fonts/BebasNeue Book.otf') format('opentype');
}
@font-face {
  font-family: 'Ikaros';
  font-weight: 400;
  font-style: normal;
  src: url('fonts/Ikaros Sans/Ikaros Light.otf') format('opentype');
}

@font-face {
  font-family: 'Ikaros';
  font-weight: 600;
  font-style: normal;
  src: url('fonts/Ikaros\ Sans/Ikaros\ Regular.otf') format('opentype');
}

html{
  font-family: SourceSansPro;
  background-color: #FAECC3;
}
#container {
  display: flex;
  flex-wrap: wrap;
}
#subcontainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#instagram{
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  height: 35px;
  width: 35px;
}

#title{
  font-family: Ikaros;
  font-weight: 600;
  font-size: 40px;
}

#images{
  margin: 10px;
  width: 50%;
  height: auto;
  position: relative;
}
#image1{
  position: absolute;
  left: 0;
  animation-name: imagesfade;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 12s;
}
#image2{
  position: absolute;
  left: 0;
  animation-name: imagesfade;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  animation-delay: 4s;
}
#image3{
  position: absolute;
  left: 0;
  animation-name: imagesfade;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  animation-delay: 8s;
}

@keyframes imagesfade{
  0% {
    opacity:1;
  }
  25% {
    opacity:1;
  }
  33% {
    opacity:0;
  }
  91% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}